<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtGLjp4yboVK2NRSX2_1L7mHKqL17_Cas</string>
	<key>GCM_SENDER_ID</key>
	<string>393409877189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterwidget.hub</string>
	<key>PROJECT_ID</key>
	<string>flutterui-b4f0b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterui-b4f0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393409877189:ios:8d4d9fc0a2d3238c3eccac</string>
</dict>
</plist>